*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

body,html {
    height: 100%;
    /* background-color: rgb(160, 62, 247); */
    background-color: black;

    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-cursor.png) 10 2, auto;
	overflow: hidden;
	&:active {
		cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-click.png) 10 2, auto;
	}
}
/* SCROLLING PANE START */

/* hide the scrollbars */

@font-face {
  font-family: 'belweb';
  src: url('BELWEB.TTF') format('truetype');
}

::-webkit-scrollbar {
    display: none;

}

.scrolling-pane {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  height: 100%;
  width: 16.7%;
  margin-left: -4px;
  overflow: scroll;
  border:0.5px solid black;

    /* border: 1px solid green;
    -webkit-box-shadow: 0px 0px 20px  green;
       -moz-box-shadow: 0px 0px 20px  green;
            box-shadow: 0px 0px 20px  green; */
}
.header h1{
  text-align: center;
  font-size: 60px;
  font-family: sans-serif;
  color: #fff;
  font-family: belweb;
  /* opacity: .5; */
}
/* SCROLLING PANE END */

/* these are just the colors */
.one {
  background-color: white;
}

.two {
  background-color: white;
}

.three {
  background-color: white;
}
.four {
  background-color: white;
}

.five {
  background-color: white;
}

.six {
  background-color: white;

}

/* this is dummy content */
.dummy-content {
  width: 80%;
  height: auto;
  margin: 10px auto;
  /* background-color: #fff; */
  /* border:1px solid black; */
  font-size: 40px;
  /* font-family: sans-serif; */
  font-family: belweb;
  /* line-height: 300px; */
  text-align: left;
    opacity: .5;

}
h1{
font-size: 40px;
font-family: belweb;
text-align: left;

}
h2{
font-size: 14px;
font-family: sans-serif;
text-align: left;
cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-grab.png) 10 2, auto;

}
h3{
font-size: 12px;
font-family: sans-serif;
text-align: left;
font-style: italic;
font-weight: normal;

}
p{
  font-size: 13px;
  font-family: sans-serif;
  text-align: left;

}

.card1 img{
  bottom: 300px;
  left: 300px;
  position: absolute;
  width: auto;
  height: 300px;
 cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-grab.png) 10 2, auto;

}
.card2 img{
  bottom: 300px;
  left:600px;
  position: absolute;
  width: auto;
  height: 310px;
cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-grab.png) 10 2, auto;
}
.card3 img{
  bottom: 300px;
  left: 900px;
  position: absolute;
  width: auto;
  height: 315px;
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-grab.png) 10 2, auto;
}

.modalWrapper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 9999999;
}


.modal {
    display: block;
    margin: auto auto;
    padding: 40px;
    width: 50%;
    height: auto;
    background-color: white;
    border: 1px black;
    z-index: 999;
    font-size: 24px;
    line-height: 1.25em;

    /* font-family: Georgia, serif;
    font-style: italic; */

    font-family: belweb;
    max-height: 90%;
    overflow: scroll;
}
.modal img{
  display: block;
  margin: auto auto;
  padding: 40px;
  max-width: 80%;
  max-height: 60vh;
  box-sizing: content-box;
}

.my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    }
  .my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    float: left;
    list-style: none;
    }
  .my-legend .legend-scale ul li {
    font-size: 13px;
    font-family: belweb;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 20px;
    }
  .my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 30px;
    width: 60px;
    margin-right: 5px;
    margin-left: 20px;
    }
  .my-legend .legend-source {
    font-size: 20px;
    color: black;
    opacity: .5;
    clear: both;
    }
  .my-legend a {
    color: #777;
    }



.random-pane {
  vertical-align: top;
  height: 100%;
  width: 100%;
  background-color: blue;
  z-index: 1000;
}

.grid-item {
  position: absolute;
  padding: 5px;
  margin: 5px;
  width: 200px;
  height: auto;
  border: 1px solid black;
  background-color: rgb(160, 62, 247);
  display: inline-block;
  z-index: 1000;
  color: white;
  font-family: belweb;
  font-size: 15px;
}

#ticker-container {
    background-color: black;
    height:35px;
}

#ticker-text {
    top:0px;
    font-family: belweb;
    font-size: 20px;
    color: white;
/*    border:1px solid white;*/
}

#ticker-container2 {
    background-color: black;
    height:35px;
}

#ticker-text2 {
    top:0px;
    font-family: belweb;
    font-size: 20px;
    color: white;
/*    border:1px solid white;*/
}
